# ==================== 🗜️ CẤU HÌNH THUẬT TOÁN NÉN ZRAM ====================
# 👑 Việt hóa bởi: p0s3id0n
# Đoạn config này chứa các cờ (flags) kích hoạt thuật toán nén nâng cao.
# Nó sẽ được file workflow build.yml tự động nối thêm vào file defconfig 
# của Kernel khi bạn tick chọn bật tính năng `use_zram`.
# ========================================================================

CONFIG_CRYPTO_LZ4HC=y
CONFIG_CRYPTO_LZ4K=y
CONFIG_CRYPTO_LZ4KD=y
CONFIG_CRYPTO_842=y
CONFIG_CRYPTO_LZ4K_OPLUS=y